
<%- include('partials/header') -%>

<main class="container d-flex justify-content-center main-main-container">
    <div class="d-flex flex-column justify-content-center main-container">
        <a href="/login" class="btn bg-primary text-light login-style border border-white rounded-pill"> Login</a>
        <a href="/signup" class="btn bg-primary text-light login-style border border-white rounded-pill"> Signup</a>
    </div>
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)"></div>
</main>
    

<%- include('partials/footer') -%>
